.container {
    
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}

.selected {
    border: solid 2px red;
}

.notSelected {
    border: solid 2px black;
}