#input-date-text{
    border-radius: 3px 0px 0px 3px !important;
}
#keepWide{
    min-width: 100%;
}
.gallery-image-count-text{
    font-family: 'Audiowide', cursive;
}
.pagination>li.active>a {
    background-color: #5bc0de !important;
    color: #494949;
    border: #494949;
  }
  .pagination>li>a {
    color: #747474 !important;
  }
