.active-sign{
    color: red;
    text-shadow: 0 1px 2px #222;
}
.pause-sign{
    color: green;
    text-shadow: 0 1px 2px #222;
}
.camera-settings-text{
    font-family: 'Audiowide', cursive;
}
#the-camera{
    color: #252525;
}
#the-circle{
    color: #252525;
    position: absolute;
    cursor: pointer;
}
#the-div{
    position: relative;
    min-width: 1024px;
}
#the-flash-div{
    position: relative;
    min-width: 1024px;
}
#the-webcam{
    position: absolute;
}
.the-flash{
      z-index: 100;  
/*     visibility: hidden; */
    animation: flash-fade .50s ease-out;
}
.motion-buttons{
    cursor: pointer;
}

.spin-restart{
    animation: spin 4s linear;
}

@keyframes flash-fade{
    0% {opacity: 1;}
    25% {opacity: 0.75;}
    50% {opacity: 0.5;}
    75% {opacity: 0.25;}
    100% {opacity: 0;}
}

@keyframes spin {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}