.Tables{
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
}
#input-group-text{
    border-radius: 0 !important;
}
#input-name-text{
    border-radius: 3px 0px 0px 3px !important;
}
.form-control:focus {
    border-color: #5bc0de;
    box-shadow: 0px 1px 1px rgba(91, 192, 222, 0.075) inset, 0px 0px 8px rgba(91, 192, 222, 0.5);
}

ul.nav li a:hover, ul.nav li a:active {
    color: #5bc0de !important;
}
.nav-tabs .nav-link.active{
    color: black !important;
    font-family: 'Audiowide', cursive;
}
.nav-tabs .nav-link{
    color: #5bc0de !important;
    font-family: 'Audiowide', cursive;
}
.pagination>li.active>a {
    background-color: #5bc0de !important;
    color: #494949;
    border: #494949;
  }
  .pagination>li>a {
    color: #747474 !important;
  }
  .pagination>li.active>a {
    background-color: #5bc0de !important;
    color: #494949;
    border: #494949;
  }
  .pagination>li>a {
    color: #747474 !important;
  }