.gallery-header{
    color: white;
    /* margin: 0 0 3000px; ??*/
    overflow: hidden;
    z-index: 100;
    position: fixed;
    width: 100%;
    border-bottom: solid gray 1px;;
}

.total-amount{
  font-size: 3rem;
  text-shadow: 0 2px 3px #333;
  font-family: 'Roboto', sans-serif;
  align-self: center;
  flex: 0 1 200px;
}

.visible{
  visibility: visible;
}
.invisible{
  visibility: hidden;
}

.checkoutButtons{
  font-family: 'Roboto', sans-serif;
}

img {
}