#login-link{
    color: #17a2b8;
    font-size: 1.2rem;
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    text-decoration: underline;
    cursor: pointer;
}
